/* Default CSS for ATN graphs (dark theme). Contains only the elements that differ from light theme. */

body.vscode-dark .marker {
  fill: #eee;
  stroke: none;
}

body.vscode-dark .stateLabel {
  fill: #202020;
}

body.vscode-dark .stateTypeLabel {
  fill: #404040;
}

body.vscode-dark .linkLabel {
  fill: #ddd;
}

body.vscode-dark .state {
  stroke: white;
  filter: url(#white-glow);
}

/* Default CSS for railroad diagrams (dark theme) */

body.vscode-dark svg.railroad-diagram {
	/* DIAGRAM_CLASS setting */
	background: rgba(255, 255, 255, 0.05);
}

body.vscode-dark svg.railroad-diagram path {
	/* The connection lines. */
	stroke-width: 2;
	stroke: darkgray;
	fill: rgba(0, 0, 0, 0);
}

body.vscode-dark svg.railroad-diagram text {
	/* All text except comments. */
	font: bold 12px Hack, "Source Code Pro", monospace;
	text-anchor: middle;
	fill: #404040;
	/* Use fill instead of color for svg text. */
}

body.vscode-dark svg.railroad-diagram text.comment {
	/* Comment text */
	font: italic 10px Hack, "Source Code Pro", monospace;
	fill: #909090;
}

body.vscode-dark svg.railroad-diagram g.non-terminal rect {
	/* The non-terminal boxes. */
	stroke-width: 2;
	stroke: #404040;
	fill: rgba(255, 255, 255, 1);
}

body.vscode-dark svg.railroad-diagram g.terminal rect {
	/* The terminal boxes. */
	stroke-width: 2;
	stroke: #404040;
	fill: rgba(255, 255, 255, 0.7);
}

body.vscode-dark svg.railroad-diagram text.diagram-text {
	/* Multiple choice text, not working atm. */
	font-size: 12px Hack, "Source Code Pro", monospace;
	fill: red;
}

body.vscode-dark svg.railroad-diagram path.diagram-text {
	/* Multiple choice text, not working atm. */
	stroke-width: 1;
	stroke: red;
	fill: white;
	cursor: help;
}

body.vscode-dark svg.railroad-diagram g.diagram-text:hover path.diagram-text {
	/* Multiple choice text, not working atm. */
	fill: #f00;
}

/* Default CSS for call graphs (dark theme) */

body.vscode-dark .link {
    stroke: #fff;
    stroke-opacity: .2;
    fill: none;
    pointer-events: none;
}

body.vscode-dark .node-source {
    fill: #e6db74;
}

body.vscode-dark .node-target {
    fill: #45aa73;
}

body.vscode-dark .link-source,
body.vscode-dark .link-target {
    stroke-opacity: 1;
    stroke-width: 2px;
}

body.vscode-dark .link-source {
    stroke: #45aa73;
}

body.vscode-dark .link-target {
    stroke: #e6db74;
}
