/* Default CSS for railroad diagrams */

/*===== Dark styles =====*/

body.vscode-dark svg.railroad-diagram {
	/* DIAGRAM_CLASS setting */
	background: rgba(255, 255, 255, 0.05);
}

body.vscode-dark svg.railroad-diagram path {
	/* The connection lines. */
	stroke-width: 2;
	stroke: darkgray;
	fill: rgba(0, 0, 0, 0);
}

body.vscode-dark svg.railroad-diagram text {
	/* All text except comments. */
	font: bold 12px Hack, "Source Code Pro", monospace;
	text-anchor: middle;
	fill: #404040;
	/* Use fill instead of color for svg text. */
}

body.vscode-dark svg.railroad-diagram text.comment {
	/* Comment text */
	font: italic 12px Hack, "Source Code Pro", monospace;
	fill: white;
}

body.vscode-dark svg.railroad-diagram g.non-terminal rect {
	/* The non-terminal boxes. */
	stroke-width: 2;
	stroke: #404040;
	fill: rgba(255, 255, 255, 1);
}

body.vscode-dark svg.railroad-diagram g.terminal rect {
	/* The terminal boxes. */
	stroke-width: 2;
	stroke: #404040;
	fill: rgba(255, 255, 255, 0.7);
}

body.vscode-dark svg.railroad-diagram text.diagram-text {
	/* Multiple choice text, not working atm. */
	font-size: 12px Hack, "Source Code Pro", monospace;
	fill: red;
}

body.vscode-dark svg.railroad-diagram path.diagram-text {
	/* Multiple choice text, not working atm. */
	stroke-width: 1;
	stroke: red;
	fill: white;
	cursor: help;
}

body.vscode-dark svg.railroad-diagram g.diagram-text:hover path.diagram-text {
	/* Multiple choice text, not working atm. */
	fill: #f00;
}


/*===== Light styles =====*/

body.vscode-light svg.railroad-diagram {
	/* DIAGRAM_CLASS setting */
	background: rgba(0, 0, 0, 0.05);
}

body.vscode-light svg.railroad-diagram path {
	/* The connection lines. */
	stroke-width: 2;
	stroke: darkgray;
	fill: rgba(0, 0, 0, 0);
}

body.vscode-light svg.railroad-diagram text {
	/* All text except comments. */
	font: bold 12px Hack, "Source Code Pro", monospace;
	text-anchor: middle;
	fill: #404040;
	/* Use fill instead of color for svg text. */
}

body.vscode-light svg.railroad-diagram text.comment {
	/* Comment text */
	font: italic 12px Hack, "Source Code Pro", monospace;
	fill: #404040;
}

body.vscode-light svg.railroad-diagram g.non-terminal rect {
	/* The non-terminal boxes. */
	stroke-width: 2;
	stroke: #404040;
	fill: rgba(255, 255, 255, 1);
}

body.vscode-light svg.railroad-diagram g.terminal rect {
	/* The terminal boxes. */
	stroke-width: 2;
	stroke: #404040;
	fill: rgba(0, 0, 0, 0.1);
}

body.vscode-light svg.railroad-diagram text.diagram-text {
	/* Multiple choice text, not working atm. */
	font-size: 12px Hack, "Source Code Pro", monospace;
	fill: red;
}

body.vscode-light svg.railroad-diagram path.diagram-text {
	/* Multiple choice text, not working atm. */
	stroke-width: 1;
	stroke: red;
	fill: red;
	cursor: help;
}

body.vscode-light svg.railroad-diagram g.diagram-text:hover path.diagram-text {
	/* Multiple choice text, not working atm. */
	fill: #f00;
}

.icon {
	width: 1em;
	height: 1em;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center bottom;
}

body.vscode-light .icon {
	filter: invert(100%);
	-webkit-filter: invert(100%);
}

.icon-box {
	font-size: 12pt;
	margin-left: 20px;
}

.header {
	position: fixed;
	font-size: 14pt;
	z-index: 9999;
	top: 0;
	left: 0;
	right: 0;
	background-color: var(--background-color);
	height: 30px;
}

#container {
	margin-top: 30px;
}

svg {
	display: block;
}

body {
	padding-left: 20px;
}
